@model VLO.Models.Ingrediente

@{
    ViewBag.Title = "Detalhe de Ingrediente";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h4>Detalhe Ingrediente</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.LabelFor(model => model.IngredienteNome, "Ingrediente:", htmlAttributes: new { @class = "control-label col-md-2" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IngredienteNome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Valor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Valor)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.IdIngrediente }) |
    @Html.ActionLink("Voltar", "Index")
</p>
