@model IEnumerable<VLO.Models.Ingrediente>

@{
    ViewBag.Title = "Ingredientes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Ingredientes</h2>

<p>
    @Html.ActionLink("Registrar novo Ingrediente", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Ingrediente
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Valor)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IngredienteNome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Valor)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.IdIngrediente }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.IdIngrediente }) |
            @Html.ActionLink("Remover", "Delete", new { id=item.IdIngrediente })
        </td>
    </tr>
}

</table>
