@model IEnumerable<VLO.Models.Lanche>

@{
    ViewBag.Title = "Lanches";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Lanches</h2>

<p>
    @Html.ActionLink("Registrar Novo Lanche", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Lanche
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.LancheNome)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.IdLanche }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.IdLanche }) |
            @Html.ActionLink("Remover", "Delete", new { id=item.IdLanche })
        </td>
    </tr>
}

</table>
